.sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px auto 0;
  padding: 0;
  overflow-x: hidden;
}

.sale__carousel {
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  /* padding: 60px 20px; */
  overflow-x: hidden;
  transition: transform 0.5s ease-in-out;
}

.product-gallery__items {
  display: block;
  margin: 0 24px;
}

.product-gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
  gap: 30px;
}

.product-gallery__grid > .product-card {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-gallery__grid > .product-card .btn-primary {
  margin-top: 24px;
  align-self: flex-start;
  margin-bottom: 0;
}

.product-card {
  max-width: 100%;
  width: 250px;
  padding: 0px 15px;
}

.sale__choose-currency-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
  gap: 20px;
}

.swiper-container {
  position: relative;
  flex: 0 0 14%;
  background: rgba(39, 39, 39, 0.03);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  background: var(--color-accent); /* Або ваш колір (наприклад, синій) */
  color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: background 0.3s, opacity 0.3s, width 0.3s, height 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #aaa;
  opacity: 1;
}

.swiper-button-prev {
  left: 15px;
}

.swiper-button-next {
  right: 15px;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background: var(--color-header-brand);
}

.sale__filters {
  margin-bottom: 20px;
  text-align: center;
}

.sale__filter-select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
