.sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px auto 0;
  padding: 0;
}

.sale__carousel {
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

.product-gallery__items {
  display: block;
  margin: 0 24px;
}

.product-gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
  gap: 30px;
}

.product-gallery__grid > .product-card {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Забезпечує рівномірний розподіл */
  height: 100%; /* Робить картку повної висоти */
}

.product-gallery__grid > .product-card .btn-primary {
  margin-top: 24px; /* Додає відступ від контенту зверху */
  align-self: flex-start; /* Вирівнює кнопку ліворуч */
  margin-bottom: 0; /* Переконуємось, що кнопка не має зайвих відступів знизу */
}

.product-card {
  max-width: 100%;
  width: 250px;
  padding: 0px 15px;
}