.latest_products { 
  background: url("../img/last_products/last_products.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  z-index: 1;
  padding: 60px 20px;
}

.latest_products__container {
  position: relative;
  max-width: 1200px; /* Центруємо контейнер */
  width: 100%;
  padding: 50px 20px;
}

.latest-products__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.latest-products_icon {
  width: 80px; /* Менше на мобільних */
}

.latest-products__title {
  font-size: 40px;
  line-height: 1.2;
  color: var(--color-primary-white);
  font-family: var(--font-title);
  margin: 20px 0;
}

.latest-products__description {
  color: var(--color-menu-items);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  font-family: var(--font-text);
  margin: 20px 0;
}

.latest-products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.latest-products__list-item {
  position: relative;
  padding-left: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.latest-products__list-item::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-accent-additional);
}

/* ======== МЕДІА ЗАПИТИ ========= */
@media (min-width: 768px) {
  .latest-products__title {
    font-size: 50px;
  }

  .latest-products_icon {
    width: 90px;
  }
}

@media (min-width: 992px) {
  .latest-products__title {
    font-size: 70px;
  }

  .latest-products_icon {
    width: 100px;
  }

  .latest-products__list {
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .latest-products__title {
    font-size: 90px;
  }
}
