<!-- Viontsek Markian -->
<section id="sale" class="sale">
  <div class="container sale__header">
    <h2 class="title">SALE</h2>
    <p class="subtitle">
      <span class="divider-span">/</span>
      TECHNOLOGY THAT KEEPS YOU AHEAD
      <span class="divider-span">/</span>
    </p>
    <p class="description">
      Hot prices for the best gadgets at NextLevel. What will you choose?
    </p>
    <div class="divider"></div>
  </div>
  <div class="sale__choose-currency-filters">
    <div class="sale__choose-currency">
      <label for="currency-select" class="popular-products__currency-label"
        >Choose currency:</label
      >
      <select id="currency-select" class="products__currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="UAH">UAH</option>
        <option value="PLN">PLN</option>
        <option value="BGN">BGN</option>
      </select>
    </div>
    <div class="sale__filters">
      <label for="category-filter" class="sale__filter-label"
        >Choose category:</label
      >
      <select id="category-filter" class="sale__filter-select">
        <option value="all">All</option>
        <option value="monitors">Monitors</option>
        <option value="headphones">Headphones</option>
        <option value="keyboards">Keyboards</option>
        <option value="mice">Mice</option>
        <option value="microphones">Microphones</option>
      </select>
    </div>
  </div>
  <div class="sale__carousel slider-container">
    <div class="product-gallery__items">
      <div class="product-gallery__grid">
        <button class="slider-btn prev">&#10094;</button>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="slide">
              <article
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="./cards/pixelview-flex.html"
              ></article>
            </div>
            <div class="slide">
              <article
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="./cards/pulsesound.html"
              ></article>
            </div>
            <div class="slide">
              <article
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="./cards/neurokey.html"
              ></article>
            </div>
            <div class="slide">
              <article
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="./cards/aerogrip.html"
              ></article>
            </div>
            <div class="slide">
              <article
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="./cards/syncview.html"
              ></article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
